.gitItens {
    margin-top: 1.2rem;
    padding: 1rem;
    text-align: left;
    border: 1px solid #9A60FA;
    border-radius: 0.8rem;
    background: #F2F2F2;
}

.gitItens p {
    font: 700 1.6rem Roboto;
}

.gitItens span {
    font-style: italic;
}

@media(min-width: 1100px) {

    .gitItens {
        grid-template-columns: 29rem 29rem 29rem;
        margin: 1rem;
    }
}